<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://qpmorder-test-swe-g9dmb9gaa5enhhec.swedencentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6a2c8f92-746a-4d31-adfc-dd971be802c2/resourceGroups/SWE-RG-ERPSERVICELAYER-TEST/providers/Microsoft.Web/sites/QPMOrder-TEST-SWE</ResourceId>
    <UserName>$QPMOrder-TEST-SWE</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://qpmorder-test-swe-g9dmb9gaa5enhhec.scm.swedencentral-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>